<!DOCTYPE html>
<html>
<head><title>Calc Page (adjust name - likely add back to home or just call in home when I split screen with divs)</title></head>
    <body>
     <form action="/calc" method="POST">
        <table>
           {% csrf_token %}
            {{form.as_table}}
        </table>
        <tl><td colspan="2" align="center">
            <input type="submit" name="submit" value="Add" /> <!--This will be to buy and sell stonks-->
            <input type="submit" name="submit" value="Subtract" />

            </td></tr>
        </form>
        <a href="/">Back</a></div>
    </body>
</html>
